@model OnlineHotelBookingApplication.Entity.User

@{
    ViewBag.Title = "SignUp";
}
@{
    string action = "Home";
    Html.RenderPartial(action);
}
<h2>SignUp</h2>
@Html.Partial("PartialViewExample");
@using (Html.BeginForm("SignUp", "HotelBooking", FormMethod.Post))
{
    <div>
        <div>
            @Html.LabelFor(model => model.firstName, htmlAttributes: new { })
                @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { } })
                @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(model => model.lastName, htmlAttributes: new { })
                @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { } })
                @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(model => model.mobileNumber, htmlAttributes: new { })
                @Html.EditorFor(model => model.mobileNumber, new { htmlAttributes = new {  } })
                @Html.ValidationMessageFor(model => model.mobileNumber, "", new { @class = "text-danger" })
            </div>

        <div>
            @Html.LabelFor(model => model.gmail, htmlAttributes: new { })
                @Html.EditorFor(model => model.gmail, new { htmlAttributes = new { } })
                @Html.ValidationMessageFor(model => model.gmail, "", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(model => model.password, htmlAttributes: new { })
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(model => model.userType, htmlAttributes: new { })
                @Html.EnumDropDownListFor(model => model.userType)
                @Html.ValidationMessageFor(model => model.userType, "", new { @class = "text-danger" })
        </div>
        <div>
            <input type="submit" value="Submit" />
            @{
                Html.RenderAction("back");
            }
        </div>
    </div>
}