@model IEnumerable<OnlineHotelBookingApplication.Models.HotelViewModel>

<table border="1">
    <tr>
        <td>Hotel Id</td>
        <td>Hotel Name</td>
        <td>Hotel Address</td>
        <td>Services</td>
    </tr>
    @foreach (OnlineHotelBookingApplication.Models.HotelViewModel user in Model)
    {
        <tr>
            <td>@user.HotelId</td>
            <td>@user.HotelName</td>
            <td>@user.HotelAddress</td>
            <td>@user.Services</td>
            <td>
                @Html.ActionLink("Edit", "EditHotel", new { HotelId = user.HotelId })
                @Html.ActionLink("Delete", "DeleteHotel", new { HotelId = user.HotelId })
            </td>
        </tr>
    }
</table>

