@model OnlineHotelBookingApplication.Models.HotelViewModel
@{
    ViewBag.Title = "AddHotel";
}

@using (Html.BeginForm("AddHotel", "Admin", FormMethod.Post))
{
    <div>
        <div>
            @Html.LabelFor(model => model.HotelName, htmlAttributes: new { })
            @Html.EditorFor(model => model.HotelName, new { htmlAttributes = new { } })
            @Html.ValidationMessageFor(model => model.HotelName, "", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(model => model.HotelAddress, htmlAttributes: new { })
            @Html.EditorFor(model => model.HotelAddress, new { htmlAttributes = new { } })
            @Html.ValidationMessageFor(model => model.HotelAddress, "", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(model => model.TotalRooms, htmlAttributes: new { })
            @Html.EditorFor(model => model.TotalRooms, new { htmlAttributes = new { } })
            @Html.ValidationMessageFor(model => model.TotalRooms, "", new { @class = "text-danger" })
        </div>

        <div>
            @Html.LabelFor(model => model.BookedRooms, htmlAttributes: new { })
            @Html.EditorFor(model => model.BookedRooms, new { htmlAttributes = new { } })
            @Html.ValidationMessageFor(model => model.BookedRooms, "", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(model => model.AvailableRooms, htmlAttributes: new { })
            @Html.EditorFor(model => model.AvailableRooms, new { htmlAttributes = new { } })
            @Html.ValidationMessageFor(model => model.AvailableRooms, "", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(model => model.Services, htmlAttributes: new { })
            @Html.EditorFor(model => model.Services, new { htmlAttributes = new { } })
            @Html.ValidationMessageFor(model => model.Services, "", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(model => model.RoomType, htmlAttributes: new { })
            @Html.EditorFor(model => model.RoomType, new { htmlAttributes = new { } })
            @Html.ValidationMessageFor(model => model.RoomType, "", new { @class = "text-danger" })
        </div>
        @*<div>
                @Html.LabelFor(model => model.UserType, htmlAttributes: new { })
                @Html.EnumDropDownListFor(model => model.UserType)
                @Html.ValidationMessageFor(model => model.UserType, "", new { @class = "text-danger" })
            </div>*@
        <div>
            <input type="submit" value="Submit" />
        </div>
    </div>
        @*<div style="background-image:url('https://www.google.com/url?sa=i&url=http%3A%2F%2Fgetwallpapers.com%2Fcollection%2Ffull-hd-background-images&psig=AOvVaw0JIDexm2pv-NV7prtSwKvs&ust=1582871472655000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIDQp_OO8ecCFQAAAAAdAAAAABAN')">
                <div>
                    @Html.LabelFor(model => model.firstName, htmlAttributes: new { })<br />
                    @Html.LabelFor(model => model.lastName, htmlAttributes: new { })<br />
                    @Html.LabelFor(model => model.mobileNumber, htmlAttributes: new { })<br />
                </div>
                <div style="">
                    @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { } })
                    @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { } })
                    @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.mobileNumber, new { htmlAttributes = new { } })
                    @Html.ValidationMessageFor(model => model.mobileNumber, "", new { @class = "text-danger" })
                </div>
                <div>
                </div>
                <div>
                    @Html.LabelFor(model => model.gmail, htmlAttributes: new { })
                    @Html.EditorFor(model => model.gmail, new { htmlAttributes = new { } })
                    @Html.ValidationMessageFor(model => model.gmail, "", new { @class = "text-danger" })
                </div>
                <div>
                    @Html.LabelFor(model => model.password, htmlAttributes: new { })
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
                <div>
                    @Html.LabelFor(model => model.userType, htmlAttributes: new { })
                    @Html.EnumDropDownListFor(model => model.userType)
                    @Html.ValidationMessageFor(model => model.userType, "", new { @class = "text-danger" })
                </div>
                <div>
                    <input type="submit" value="Submit" />
                    @{
                        Html.RenderAction("back");
                    }
                </div>
            </div>*@
}
