@model IEnumerable<OnlineHotelBookingApplication.Models.UserViewModel>
@{
    ViewBag.Title = "ManageUser";
}

<table border="1">
    <tr>
        <td>UserId</td>
        <td>Firstname</td>
        <td>LastName</td>
        <td>MobileNumber</td>
        <td>Gmail</td>
        <td>Password</td>
        <td>UserType</td>
    </tr>
    @foreach(OnlineHotelBookingApplication.Models.UserViewModel user in Model)
    {
        <tr>
            <td>@user.UserId</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.MobileNumber</td>
            <td>@user.Gmail</td>
            <td>@user.Password</td>
            <td>@user.UserType</td>
            <td>
                @Html.ActionLink("Edit", "Edit",new { UserId=user.UserId })
                @Html.ActionLink("Delete", "Delete",new { UserId = user.UserId })
            </td>
        </tr>
    }p
</table>

@*<div>
    @{
        var gridview = new WebGrid(source: Model, rowsPerPage: 5);
    }
    @gridview.GetHtml(tableStyle: "webGrid", headerStyle: "header", alternatingRowStyle: "altColor",
columns:
        gridview.Columns(
            gridview.Column("", style: "button",
                format:
                @<text>
                    <button class="edit-case read" id="@item.Gmail">Edit</button>
                    <button class="delete-case read" id="@item.Gmail">Delete</button>
                    <button class="update-case edit" id="@item.Gmail">Update</button>
                    <button class="cancel-case edit" id="@item.Gmail">Cancel</button>
                </text>),
            gridview.Column("FirstName"),
            gridview.Column("LastName"),
            gridview.Column("MobileNumber")))
</div>*@
