@model IEnumerable<OnlineHotelBookingApplication.Models.UserViewModel>
@{
    ViewBag.Title = "ManageUser";
    //Layout = "~/Views/Shared/AdminMaster.cshtml";
}
<div class="main">
    <h2>Manage User</h2><br />
    <table border="1">
        <tr>
            <td>UserId</td>
            <td>Firstname</td>
            <td>LastName</td>
            <td>MobileNumber</td>
            <td>Gmail</td>
            <td>Password</td>
            <td>UserType</td>
        </tr>
        @foreach (OnlineHotelBookingApplication.Models.UserViewModel user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.MobileNumber</td>
                <td>@user.Gmail</td>
                <td>@user.Password</td>
                <td>@user.UserType</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { UserId = user.UserId })
                    @Html.ActionLink("Delete", "Delete", new { UserId = user.UserId }, new { onclick = "return confirm('Do you wish to delete this data?')" })
                </td>
            </tr>
        }
    </table>
</div>x`