@model OnlineHotelBookingApplication.Models.UserViewModel

@{
    ViewBag.Title = "SignUp";
}
@using (Html.BeginForm("SignUp", "User", FormMethod.Post))
{
    <div id="form_wrapper">
        <h1>Register Form</h1>
        <table>
            <tr>
               <td>@Html.LabelFor(model => model.FirstName, new { })</td> 
                <td>
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @maxlength = 15 } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { })
                </td>
                <td>
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @maxlength = 15 } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { })
                </td>
                <td>
                    @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @maxlength = 10 } })
                    @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Gmail, htmlAttributes: new { })
                </td>
                <td>
                    @Html.EditorFor(model => model.Gmail, new { htmlAttributes = new { @maxlength = 30 } })
                    @Html.ValidationMessageFor(model => model.Gmail, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { })
                <td>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @maxlength = 20 } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Submit" />
                </td>
            </tr>
        </table>
    </div>
}
