@model OnlineHotelBookingApplication.Models.SignInViewModel
@{
    ViewBag.Title = "SignIn";
}

@using (Html.BeginForm("SignIn", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    if (null != TempData["alertMessage"])
    {
        <script type="text/javascript">
       alert("@TempData["alertMessage"]");
        </script>
    }
     <div id="form_wrapper">
           <h1>SignIn</h1>
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Gmail, htmlAttributes: new { })
                </td>
                <td>
                    @Html.EditorFor(model => model.Gmail, new { htmlAttributes = new { @class = "textBox", @maxlength = 25 } })
                    @Html.ValidationMessageFor(model => model.Gmail, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { })
                <td>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "textBox", @maxlength = 25 } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr style="color:red">@TempData["Invalid"]</tr>
            <tr>
                <td>
                    <input type="submit" value="Submit" />
                </td>
            </tr>
        </table>
         </div>
}